@tailwind base;
@tailwind components;
@tailwind utilities;

:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ff4311;
}
@layer base {
  .app {
    display: grid;
    grid-template-columns: minmax(min-content, 74rem);
    grid-template-rows: min-content;

    justify-content: center;
  }

  .display {
    max-height: calc(100vh - 156px - 16px);
  }

  .data_table {
    @apply w-full border-collapse text-center;
  }

  .data_table th {
    @apply text-green-malachiteDark dark:text-green-malachite;
  }

  .data_table th,
  .data_table td {
    @apply p-2;
  }

  .data_table td {
    @apply border-t-2 border-solid border-white-platinum dark:border-black-jet;
  }
}
