@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :focus {
    outline: none;
    @apply shadow-focus-hover;
  }

  button:focus {
    outline: none;
    @apply shadow-focus-hover;
  }

  button:hover {
    @apply shadow-focus-hover;
  }

  button:active {
    @apply bg-red-accent;
  }

  h1 {
    @apply text-3xl;
  }
}

@layer components {
  .app_content {
    display: grid;
    grid-template-rows: 1fr min-content;
    justify-items: center;
  }

  /* Table */
  .data_table {
    max-height: calc(100vh - 200px);
    width: 100%;
    overflow: auto;
  }

  .data_table > table {
    width: 100%;
  }

  .data_table thead th {
    padding: 8px;
    position: sticky;
    top: 0;
    @apply bg-white-babyPowder shadow-[0_2px_0_#eef0ed] dark:bg-black-night dark:shadow-[0_2px_0_#303031];
  }

  .data_table tfoot th,
  .data_table tfoot td {
    padding: 8px;
    position: sticky;
    bottom: 0;
    @apply bg-white-babyPowder shadow-[0_-2px_0_#eef0ed] dark:bg-black-night dark:shadow-[0_-2px_0_#303031];
  }

  .data_table tbody tr {
    @apply border-t-2 border-white-whiteSmoke hover:bg-white-whiteSmoke dark:border-black-jet hover:dark:bg-black-jet;
  }

  .data_table th {
    @apply text-green-800 dark:text-green-malachite;
  }

  .data_table th,
  .data_table td {
    padding-inline: 4px;
    text-align: center;
  }

  .data_table button {
    @apply p-2 hover:text-red-danger;
  }
  /* /Table */

  .app_desktop_form {
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .app_desktop_form > input {
    @apply rounded-lg border-2 border-solid border-white-whiteSmoke p-1 dark:bg-black-eerieBlack;
  }

  .app_popover_form {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .app_popover_form > input {
    @apply rounded-lg border-2 border-solid border-white-whiteSmoke p-1 dark:bg-black-eerieBlack;
  }
}
